header {
    /* height: 70px; */
    background-color: var(--primary);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;
     */
    transition: all .5s;
    padding: 0 5vw;
    position: sticky;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 0px 11px 80px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 80px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 80px 0px rgba(0, 0, 0, 0.75);
}

header nav {
    line-height: 70px;
}

header nav a {
    text-decoration: none;
    color: white;
    margin: 5vw;
    font-size: 1.4em;
    transition: all .3s;
    padding: 0;
}

header nav a:hover:not(.active) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
}

header nav a.active {
    color: var(--primary);
    background-color: var(--secondary);
    padding: 22px 15px;
}

header nav button {
    /* justify-self: flex-end; */
    font-size: 1.4em;
    margin-top: 10px;
    background-color: var(--primary);
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 8px;
    float: right;
}

.responsive-menu-btn {
    display: none;
}

header nav button:hover {
    background-color: white;
    color: var(--primary);
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
}

#portal-modal-close-btn {
    color: var(--primary);
    font-size: 1.5em;
    float: right;
    display: block;
    transition: all .5s;
    margin-top: 0;
}

#portal-modal-close-btn:hover {
    transform: rotate(180deg);
}



@media only screen and (max-width: 1100px) {
   header nav a {
    font-size: 1em;
    margin: 0 10px;
   }

   header nav a.active {
    padding: 24px 15px;
   }

   header nav button {
    font-size: 1em;
   }

  }






@media only screen and (max-width: 600px) {

    header {
        padding-right: 35px;
    }
    header nav a {
        display: none;
    }

    header button {
        display: none;
    }

    .responsive-menu-btn {
        display: block;
        float: right;
        border: none;
        margin-top: 15px;
    }

    .responsive-menu-btn:hover {
        display: block;
        float: right;
        border: none;
        margin-top: 15px;
    }

    #mobile-header {
        width: 100vw;
        background-color: var(--primary);
    }

    
    #responsive-menu-wrapper {
        padding-top: 75px;
    }

    #responsive-menu-wrapper ul {
        text-align: center;
        list-style-type: none;
        padding-left: 0;
    }

    #responsive-menu-wrapper ul li {
        margin-bottom: 15px;
    }

    #responsive-portal-btn {
        display: inline-block;
        font-size: 1.4em;
        background-color: var(--primary);
        color: white;
        border: 2px solid white;
        outline: none;
        border-radius: 8px;
        padding: 6px;
    }

    #responsive-menu-wrapper ul li a {
        text-decoration: none;
        font-size: 1.4em;
        color: white;
    }
  }